.contacts_map{
  margin: 12px 0;
  width: 100%;
  max-width: 1910px;
  height: 300px;
}
.contact_block{
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}
.contacts_input_block{
  padding: 30px 40px;
  width: 50%;
  box-sizing: border-box;
  border-right: 1px solid #81818133;
}
.contacts_input_title{
  display: flex;
  flex-direction: row;
  align-items: center;
  p{
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
  }
  div{
    width: 100%;
    height: 1px;
    background-color: #81818133;
    margin-left: 20px;
  }
}
.contacts_input_label{
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #464646;
  margin-bottom: 8px;
}
.contacts_input_top_block{
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contacts_input_top{
  width: 45%;
}
.contacts_input_top_box{
  width: 100%;
  height: 40px;
  border: 2px solid #81818133
}
.contacts_input_box{
  margin: 22px 0;
}
.contacts_input{
  border: 2px solid #81818133;
  width: 100%;
  height: 190px;
}
.contacts_input_btn{
  padding: 12px 20px;
  border: none;
  background: #F3F3F3;
  cursor: pointer;
}

.contacts_tel_block{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  div{
    margin-left: 20px;
  }
  p{
    font-family: Helvetica;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  span{
    font-weight: 700;
  }
}
.contacts_block{
  width: 48%;
  padding: 30px 40px;
  margin-left: 50px;
}
.contacts_block_icon {
  display: flex;
  flex-direction: row;
  padding-top: 34px;
  padding-bottom: 34px;
  border-bottom: 1px solid #81818133;
}
.contacts_icon{
  margin-right: 20px;
}
.contacts_time_block{
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  div{
    margin-left: 20px;
  }
  p{
    font-family: Helvetica;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  span{
    font-weight: 700;
  }
}